<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entregadores HTML</title>
</head>
<body>
    <h1>Cadastro de Entregadores</h1>
    <input type="text" id="nome" placeholder="Nome" name="nome"/>
    <input type="text" id="cpf" placeholder="cpf" name="cpf"/>
    <input type="text" id="telefone" placeholder="telefone" name="telefone"/>
    <input type="text" id="idrestaurante" placeholder="ID restaurante" name="idrestaurante"/>
    <button id="btnSend">Enviar</button>
    <br>
    <input type="text" id="id" placeholder="id" name="id"/>
    <button id="btnDelete">Excluir</button>
    <p id="paragrafo_get"></p>
</body>
<script>
    function sendUser(){
        var nome = document.getElementById('nome').value;
        var cpf = document.getElementById('cpf').value;
        var telefone = document.getElementById('telefone').value;
        var idrestaurante = document.getElementById('idrestaurante').value;
        console.log(nome);
        var data = {
            nome: nome,
            cpf: cpf,
            telefone: telefone,
            idrestaurante : idrestaurante 
        };

        const response = fetch('http://localhost:300/entregador', {
            method: 'POST',
            headers:{
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify(data)
        });
    }

    //GET ----------------------------------------------
    async function getEntregador(){
            const response = await fetch("http://localhost:300/entregador",{
                method: "GET",
            });
            const data = await response.json() //aguarda uma resposta do get antes de executar um script
            const paragrafos = data.entregadores.map(function(entregador){
                return '<p>' +
                    'ㅤㅤ id :' + entregador.id + 
                    'ㅤㅤ nome :' + entregador.nome + 
                    'ㅤㅤ cpf :' + entregador.cpf + 
                    'ㅤㅤ telefone :' + entregador.telefone +
                    'ㅤㅤ idrestaurante :' + entregador.idrestaurante + '</p>';
            });

            document.getElementById("paragrafo_get").innerHTML = paragrafos.join("");
            console.log(data.entregador)
        }
    getEntregador();

    //DELETE ----------------------------------------------
    function excludeEntregadores(){
        var id = document.getElementById('id').value;
        let data = {
            id: id
        };
        const deleta = fetch("http://localhost:300/entregador", {
            method: "DELETE",
            body: JSON.stringify(data),
            headers: {
              "Content-Type": "Application/json",
            },
        });
    }

    document.getElementById('btnSend').addEventListener('click', () => sendUser());
    document.getElementById('btnDelete').addEventListener('click', () => excludeEntregadores());
</script>
</html>