<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets HTML</title>
</head>
<body>
    <h1>Cadastro de Tickets</h1>
    <input type="text" id="idrestaurante" placeholder="idrestaurante" name="idrestaurante"/>
    <input type="text" id="identregador" placeholder="identregador" name="identregador"/>
    <input type="text" id="idusuario" placeholder="idusuario" name="idusuario"/>
    <input type="text" id="descricao" placeholder="descricao" name="descricao"/>
    <button id="btnSend">"Comprar"</button>
    <br>
    <input type="text" id="id" placeholder="id" name="id"/>
    <button id="btnDelete">"Excluir"</button>
    <p id="paragrafo_get"></p>
</body>
<script>
    function sendUser(){
        var idrestaurante = document.getElementById('idrestaurante').value
        var identregador = document.getElementById('identregador').value
        var idusuario = document.getElementById('idusuario').value
        var descricao = document.getElementById('descricao').value
        console.log(descricao)
        var data = {
            idrestaurante: idrestaurante,
            identregador: identregador,
            idusuario: idusuario,
            descricao: descricao
        }
        const response = fetch('http://localhost:300/ticket', {
            method: 'POST',
            headers:{
                'Content-Type' : 'Application/Json'
            },
            body: JSON.stringify(data)
            
        })
    }

    //GET ----------------------------------------------
    async function getTicket(){
            const response = await fetch("http://localhost:300/ticket",{
                method: "GET",
            });
            const data = await response.json() //aguarda uma resposta do get antes de executar um script
            const paragrafos = data.ticket.map(function(ticket){
                return '<p>'
                    'ㅤㅤ id :' + ticket.id + 
                    'ㅤㅤ idrestaurante :' + ticket.idrestaurante + 
                    'ㅤㅤ identregador :' + ticket.identregador + 
                    'ㅤㅤ idusuario :' + ticket.idusuario +
                    'ㅤㅤ descricao :' + ticket.descricao + '</p>';
            });

            document.getElementById("paragrafo_get").innerHTML = paragrafos.join("");
            console.log(data.ticket)
        }
        getTicket()

    //DELETE ----------------------------------------------
    function excludeTicket(){
            var id = document.getElementById('id').value
        let data = {
                id: id
            };
            const deleta = fetch("http://localhost:300/ticket", {
            method: "DELETE",
            body: JSON.stringify(data),
            headers: {
              "Content-Type": "Application/Json",
            },
          });
        }

    document.getElementById('btnSend').addEventListener('click', () => sendUser())

    document.getElementById('btnDelete').addEventListener('click', () => excludeTicket())
</script>
</html>