<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios HTML</title>
</head>
<body>
    <h1>Cadastro de Usuarios</h1>
    <input type="text" id="nome" placeholder="Nome" name="nome"/>
    <input type="text" id="cpf" placeholder="cpf" name="cpf"/>
    <input type="text" id="endereco" placeholder="endereco" name="endereco"/>
    <input type="text" id="telefone" placeholder="telefone" name="telefone"/>
    <button id="btnSend">Enviar</button>
    <br>
    <input type="text" id="id" placeholder="id" name="id"/>
    <button id="btnDelete">"Excluir"</button>
</body>
<script>
    function sendUser(){
        var nome = document.getElementById('nome').value
        var cpf = document.getElementById('cpf').value
        var endereco = document.getElementById('endereco').value
        var telefone = document.getElementById('telefone').value
        console.log(nome)
        var data = {
            nome: nome,
            cpf: cpf,
            endereco: endereco,
            telefone : telefone 
        }

        const response = fetch('http://localhost:300/usuario', {
            method: 'POST',
            headers:{
                'Content-Type' : 'Application/Json'
            },
            body: JSON.stringify(data)
            
        })
    }

    //DELETE ----------------------------------------------
    function excludeUser(){
            var id = document.getElementById('id').value
        let data = {
                id: id
            };
            const deleta = fetch("http://localhost:300/usuario", {
            method: "DELETE",
            body: JSON.stringify(data),
            headers: {
              "Content-Type": "Application/Json",
            },
          });
        }

    document.getElementById('btnSend').addEventListener('click', () => sendUser())
    document.getElementById('btnDelete').addEventListener('click', () => excludeUser())
</script>
</html>